Project\ Mayhem/Project_Mayhem/Project_Mayhem.csproj.Debug.cachefile
Project\ Mayhem/Project_Mayhem/bin/*
Project\ Mayhem/Project_Mayhem/obj/*
Project\ Mayhem/Project_MayhemContent/obj/*
Project\ Mayhem.v12.suo